body {
  background-color:#66ccff;
}

html {
  height: 100%;
}

h1{
font-size: 80px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h2{

  font-family: Arial, Helvetica, serif;
  color: ;
}

p {
  color: white;
  font-size: 200%
}

.size{
  font-size: 5px;
}

button {
  background-color:#ff99cc;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 100px;
}
