body {
  background-color:#66ccff;
  font-size: 15px;
}

html {
  height: 100%;
}

h1{
font-size: 250%;
  font-weight: 200;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Verdana, sans-serif;
  text-shadow: -1px 0 #f54d42, 0 1px #f54d42, 1px 0 #f54d42, 0 -1px #f54d42;

  color: #f57e76;
}

.mdl-card__title-text{

  font-family: Arial, Helvetica, serif;
  color: #ff99cc ;
}

p {
  color: white;
  font-size: 170%
}
.exl{
  margin: 7px;
}
.fix{
  margin: 20px;
}
.div1{
  margin: 50px;
}

.space{
  margin: 10px;
  display: flex;
  /* justify-content: center; */
}

.size{
  font-size: 5px;
}
.choose{
  position:fixed;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  width:90%;
  height: 90%;
}

button {
  background-color:#ff99cc;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  height: 100%;
  width: 200%;
}
