<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/design.css">
  </head>
  <body>
    <h1>Welcome to the Project Elime Webapp </h1>
    <p> Our objective is to to provide locations of necessary
      resources in the event of a natural disaster </p>
    <p> We strive to provide you with the best information incase of an emergency</p>
    <br>
    <p> All it takes is to analyze the users locationto identfiy where necessary
      ressources are nearby and provide importatnt hotline for specific disasters</p>

  </body>
</html>
