<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Information</title>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap">
    <link rel="stylesheet" href="/stylesheets/design.css">
  </head>
  <body>
    <center>
    <h1>Add Emergency Contact<h1>

    <form class='setup' action='/addContacts' method='post'>

    <ul>
      <p>Emergency contact's name</p>
      <input type="text" name="Name" value="" >

      <p>Current residential country</p>
      <input type="text" name="Country" value="" >

      <p>Current residential city</p>
      <input type="text" name="City" value="" >

      <p>Current Zip</p>
      <input type="text" name="Zip" value="" >

      <p>Emergency contact's number</p>
      <input type="tel" id="number" name="Number"
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
             required>
    </ul>

    <br>
    <input type="Submit" name="submit" value="Submit">
    </form>
</center>
  </body>
</html>
