<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Information</title>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap">
    <link rel="stylesheet" href="/stylesheets/design.css">
  </head>
  <body>
    <h1>Add Emergency Contact<h1>
      
    <form class='setup' action='/setup' method='post'>

    <ul>
      <li><p>Emergency contact's name</p></li>
      <input type="text" name="Name" value="" >

      <li><p>Current residential country</p></li>
      <input type="text" name="Country" value="" >

      <li><p>Current residential city</p></li>
      <input type="text" name="City" value="" >

      <li><p>Current Zip</p></li>
      <input type="text" name="Zip" value="" >

      <li><p>Emergency contact's number</p></li>
      <input type="text" name="Number" value="" >
    </ul>

    <br>
    <input type="Submit" name="submit" value="Submit">
    </form>

  </body>
</html>
