<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <title>Login Required</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <center>
    <p>Please finish setup <a href="/setup">here</a>.</p>
  </center>
  </body>
</html>
