<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Information</title>
  </head>
  <body>
    <center>Input additional emergency contacts here</center>
    <ul>
      <li><p>Name #1: <input type="text" name="contact" value="">
      Number: <input type="number" name="contact_num" value=""></p></li>

      <li><p>Name #2: <input type="text" name="contact" value="">
      Number: <input type="number" name="contact_num" value=""></p></li>

      <li><p>Name #3: <input type="text" name="contact" value="">
      Number: <input type="number" name="contact_num" value=""></p></li>

      <li><p>Name #4: <input type="text" name="contact" value="">
      Number: <input type="number" name="contact_num" value=""></p></li>

      <li><p>Name #5: <input type="text" name="contact" value="">
      Number: <input type="number" name="contact_num" value=""></p></li>
    </ul>
    <br>
    <br>
    <center>Input Hotline numbers here</center>
    <ul>

      <li><p>Number: <input type="number" name="hotline" value="">
        Function: <input type="text" name="hotline_function" value=""></p></li>
      <li><p>Number: <input type="number" name="hotline" value="">
        Function: <input type="text" name="hotline_function" value=""></p></li>
      <li><p>Number: <input type="number" name="hotline" value="">
        Function: <input type="text" name="hotline_function" value=""></p></li>

    </ul>





    <input type="Submit" name="submit" value="Finish Setup">
    <form action="/templates/finished_setup.html">
    </form>
    <!-- As of now, clicking the Finis Setup button does nothing!! :( -->


  </body>
</html>
