<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Information</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  </head>


  <body>
    <center>
    <h1>Add Emergency Contact<h1>

    <form class='setup' action='/editContacts' method='post'>

    <ul>
      <p>Emergency contact's name</p>
      <input type="text" name="Name" value="" placeholder="Contact's name">
<br>
<br>
      <p class="exl">New residential country</p>
      <input type="text" name="Country" value="" placeholder="Country name">
<br>
<br>
      <p class="exl">New residential city</p>
      <input type="text" name="City" value="" placeholder="City name" >
<br> <br>
      <p class="exl">New Zip</p>
      <input type="text" name="Zip" value="" placeholder="e.g: 12345">
<br> <br>
      <p class="exl">New Emergency contact's number</p>
      <input type="tel" id="number" name="Number"
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
             required placeholder="123-456-7890">
    </ul>
    <br>

    <center><input class="space" type="Submit" name="submit" value="Submit"></center>

    </form>
</center>
  </body>
</html>
