<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Eline </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/design.css">
  </head>
  <body>
    <div class="flex-container">

    <center> <h1>Welcome to Project E-line Webapp </h1> </center>

<!-- Wide card with share menu button -->

<center>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/emergency">
      Emergency
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/search">
      Search
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/choose">
      Edit/Remove Info
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/about">
      About
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href={{logout_link}}>
      Logout
    </a>
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Project Eline Webapp </h2>
  </div>
  <div class="mdl-card__supporting-text">
We strive to provide you with the best information incase of an emergency
  </div>
</div>

<br>
  </body>
</html>
