<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/emergency.css">
  </head>
  <body>
    <center>

  <h1><strong><h1>EMERGENCY SERVICES:</strong></h1>


    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-card__title">
              {% for eservice in eservices %}
              <h2 class="mdl-card__title-text"> <h2>{{eservice.name}}</h2>
        <div class="mdl-card__supporting-text">

          <p>Phone Number: {{eservice.number}}</p>
          <p>Zip: {{eservice.location.split(":")[-1]}}</p>
        </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if econtacts|length != 0 %}
                    <h2>EMERGENCY CONTACTS:</h2>
      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__actions mdl-card--border">



          <div class="mdl-card__title">
                {% for econtact in econtacts %}
  <h2 class="mdl-card__title-text"> <h2>{{econtact.name}}</h2>
            <div class="mdl-card__supporting-text">
              <p>Phone Number: {{econtact.number}}</p>
              <p>Zip: {{econtact.location.split(":")[-1]}}</p>
            </div>  {% endfor %}

        </div>
      </div>

</div>
    {% endif %}
    <a class="mdl-button mdl-button--contaned mdl-js-button mdl-js-ripple-effect" href="/">
      Back
    </a>
       </center>

</html>
