<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="/stylesheets/button.css">
<!-- <link rel="stylesheet" href="/stylesheets/form.css"> -->
  </head>
  <body>
    <br>
    <p>  {{top}}</p>
      <br>
      <center>  <button type="button" name="button"> <a href='/'>Main Page</a></button></center>
<br>
    <center>  <button type="button" name="button"> <a href={{redirect}}>{{explaination}}</a></button></center>

<!--
    <p>Plese click <a href="/">here</a> to go back to the main page
      <br>
      or <a href={{redirect}}>here</a> to {{explaination}}</p> -->
  </body>
</html>
