<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <p>Setup is now complete. Please click <a href="/">here</a> to go to the main page</p>
    <a href="/contacts">Input emergency contact information or additional hotlines</a>
  </body>
</html>
