<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change info</title>
  </head>
  <body>
    Change personal Information
    <form class="" action="{{post_location}}" method="post">


      <ul>
        <li><p>Change country</p></li>
        <input type="text" name="Country" value="" >

        <li><p>Change city</p></li>
        <input type="text" name="City" value="" >

        <li><p>Change zip code</p></li>
        <input type="text" name="Zip" value="" >

        <li><p>Change number of police department</p></li>
        <input type="text" name="Police" value="" >

        <li><p>Change number of fire department</p></li>
        <input type="text" name="Fire" value="" >
      </ul>

      <input type="Submit" name="submit" value="Finish Setup">
    </form>
    <br>
    <a href="/contacts">Input emergency contact information</a>



  </body>
</html>
