<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change info</title>

    <script src='../scripts/setup.js'
    type="text/javascript">


    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <center>
    <h1> Enter Personal Information </h1>
    <form class="forms" action={{post_location}} method="post">

        <p><b>Enter country</b></p> <br>
        <input type="text" name="Country" value="" required placeholder='Country name'> <br>

        <p><b> Enter city</b> </p> <br>
        <input type="text" name="City" value="" required placeholder="City name"> <br>

        <p><b> Enter zip code</b> </p> <br>
        <input type="text" name="Zip" value="" required placeholder="e.g: 12345"> <br>

        <p><b> Enter number of police department</b> </p> <br>
        <!-- <input type="text" name="Police" value="" > <br> -->
        <input type="tel" id="police" name="Police"
               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
               required placeholder="e.g: 911-911-9111"> <br>

        <p><b> Enter number of fire department</b> </p> <br>
        <!-- <input type="text" name="Fire" value="" >
      </ul> -->
      <input type="tel" id="fire" name="Fire"
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
             required placeholder="e.g: 123-456-7890">
      <br><br>
      <input type="Submit" name="submit" value="Finished">

    </form>
    <br>
</center>
  </body>
</html>
