<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change info</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>

  <body>
    <center>
    <h1> Enter personal Information </h1>
    <form class="" action={{post_location}} method="post">

        <p><b>Change country</b></p> <br>
        <input type="text" name="Country" value="" required> <br>

        <p><b> Change city</b> </p> <br>
        <input type="text" name="City" value="" required> <br>

        <p><b> Change zip code</b> </p> <br>
        <input type="text" name="Zip" value="" required> <br>

        <p><b> Change number of police department</b> </p> <br>
        <!-- <input type="text" name="Police" value="" > <br> -->
        <input type="tel" id="police" name="Police"
               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
               required> <br>

        <p><b> Change number of fire department</b> </p> <br>
        <!-- <input type="text" name="Fire" value="" >
      </ul> -->
      <input type="tel" id="fire" name="Fire"
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
             required>
      <br><br>
      <input type="Submit" name="submit" value="Finished">

    </form>
    <br>
</center>
  </body>
</html>
