<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <h3>Select contact to remove:</h3>
    <br>
    <form class="removeContacts" action="/removeContacts" method="post">
      {% for i in range(econtacts|length) %}
      <input type="radio" name="position" value={{i}}> {{econtacts[i].name}}<br>
      {% endfor %}
      <input type="submit" name="Submit" value="Remove">
    </form>
  </body>
</html>
