<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change info</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
    <center>
    <h1> Search by location </h1>
    <form class="" action=/search method="post">

        <p class="exl"><b>Search country</b></p>
        <input type="text" name="Country" value="">

        <p class="exl"><b>Search city</b> </p>
        <input type="text" name="City" value="">

        <p class="exl"><b>Search zip code</b> </p>
        <input type="text" name="Zip" value="">

      <div  class="exl">

      <input type="Submit" name="submit" value="Search">
</div
    </form>
</center>
  </body>
</html>
