<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap">
    <link rel="stylesheet" href="/stylesheets/design.css">
  </head>
  <body>
<center>    <form class="search" action="/search" method="post">
      <p><li>What country are you looking for?</li></p>
      <input type="text" name="Country" value="">
      <p><li>What city are you looking for?</li></p>
      <input type="text" name="City" value="">
      <p><li>What zip code are you looking for?</li></p>
      <input type="text" name="Zip" value="">
      <br><br>
      <input type="Submit" name="submit" value="Search">
    </form> </center>
  </body>
</html>
