<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/setup.css">
  </head>
  <body>
    <center><h1>This is the sign up page</h1></center>
    <form class="setup" action="/setup" method="post">

      <ul>
        <li><p>What country do you live in?*</p></li> <br>
        <input type="text" name="Country" value="" required> <br>

        <li><p>What city do you live in?*</p></li> <br>
        <input type="text" name="City" value="" required> <br>

        <li><p>What is your zip code?*</p></li> <br>
        <input type="text" name="Zip" value="" required> <br>

        <li><p>What is the number of your Police Department?*</p></li> <br>
        <input type="text" name="Police" value="" required> <br>

        <li><p>What is the number of your Fire Department?</p></li> <br>
        <input type="text" name="Fire" value=""> <br>
      </ul>

<center><h2> Enter emergency contact information </h2></center><br>

      <ul>
          Name: <input type="text" name="contact" value=""> <br> <br>
          Number: <input type="string" name="contact_num" value="">
          <li><p>Enter local hotline numbers:</p></li>
          Number: <input type="string" name="hotline" value=""> <br> <br>
          Function: <input type="text" name="hotline_function" value="">
        </ul>



          <br>
          <br>
          <p>*=required</p>
          <!-- <a href="/contacts">Click here to add more contact information or hotline numbers</a> -->
          <br>


      <input type="Submit" name="submit" value="Finish Setup">
    </form>
  </body>
</html>
